body{
    background-color: black;
    background-image: url("/static/bg.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
header img{
    width: 120px;
    border-radius: 100%;
    padding-left: 40px;
    margin-right: 40px;
}
#head{
    height: 100vh;
}
#get-s{
  background-color: #7470AB;
}


@media only screen and (max-width: 768px){
  #banner{
    text-align: center;
    font-size: 11px;
    margin: 5px;
    margin-left: 5px;
    margin-top: 0;
  }
  #par-banner{
    
    height: 40px;
  }
}

/*  THIS THE SCROLL-BARR */
/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A0CFD3; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8D94BA; 
  }

/* END OF SCHROLL BAR */