<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/tailwind.min.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
    <title>// Daddy.js //</title>
</head>
<body>
    <section id="head">
    <header>
        <div class=" py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
              <div class="flex flex-col items-center gap-4 md:gap-6">
                <a href="#" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                  <img src="static/logo.svg" alt="">
                </a>
          
                
            </div>
          </div>
    </header>
    <div class=" py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="mx-auto flex max-w-xl flex-col items-center text-center">
            
            <h2 id="head-eve" class="mb-4 font-semibold  text-white md:mb-6 md:text-lg xl:text-xl">Hi, everyone !!</h2>
            <h1 id="head-wel" class="text-black-800 mb-8 text-3xl font-bold sm:text-4xl md:mb-12 md:text-5xl">{ Welcome to Daddy.Js }</h1>
      
            <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
              
              <a href="#what" id="get-s" class="prevent-select-text inline-block rounded-lg m-2 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Start now</a>
              <a href="#how" id="get-s" class=" prevent-select-text inline-block rounded-lg m-2 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base"> <span style="color: transparent;">....</span> Doc <span style="color: transparent;">....</span></a>
              
            </div>
          </div>
        </div>
      </div>
      </section>

      <hr>

      <section id="what">
        <div class="py-6 sm:py-8 lg:py-12">
          <div class="mx-auto max-w-screen-xl px-4 md:px-8">
            <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
              <div>
                <div class="h-64 overflow-hidden rounded-lg bg-gray-100  shadow-lg md:h-auto">
                  <img src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?auto=format&q=75&fit=crop&w=600&h=1250" loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" />
                </div>
              </div>
        
              <div class="md:pt-8">
                
        
                <h1 class="mb-4 text-center text-2xl font-bold text-white sm:text-3xl md:mb-6 md:text-left">What is <span style="color: #FF8945;"> Daddy.js</span></h1>
        
                <p class="mb-6 text-white sm:text-lg md:mb-8">     
                  Welcome to daddy.js, a powerful JavaScript library designed to simplify data synchronization between two websites. With daddy.js, you can effortlessly connect and update data between a parent website and its child website, saving you valuable time and effort. <br> <br>
                  Daddy.js acts as a bridge between two websites, enabling seamless communication and real-time updates. It provides a streamlined solution for situations where you need data consistency across multiple websites or applications.
                  
                  <h2 style="color:#f5ed9d;" class="text-center font-bold  md:text-left">Key Features:</h2> <br>
                  <ul>
                    <li>
                      <span style="color: #FF8945;" class="sm:text-lg">Effortless Data Synchronization:</span>
                      <span style="color: white; " class="sm:text-lg" >Daddy.js simplifies synchronizing data between parent and child websites, automatically updating the child website with the latest data. This eliminates manual adjustments, saves time, and reduces errors.</span> <br> <br>
                    </li>
                    <li>
                      <span style="color: #FF8945;" class="sm:text-lg">Real-time Updates:</span>
                      <span style="color: white; " class="sm:text-lg" >Changes made on the parent website are instantly reflected on the child website, ensuring seamless synchronization for text updates, value changes, and other modifications.</span> <br> <br>
                    </li>
                    <li>
                      <span style="color: #FF8945;" class="sm:text-lg">Flexible Integration: </span>
                      <span style="color: white; " class="sm:text-lg" >Daddy.js seamlessly integrates into existing web projects, regardless of the JavaScript framework or library being used. Its intuitive API and straightforward setup enable developers to sync data effortlessly.</span> <br> <br>
                    </li>
                    <li>
                      <span style="color: #FF8945;" class="sm:text-lg">Fallback Option:</span>
                      <span style="color: white; " class="sm:text-lg" >In the event of failures or connectivity issues, daddy.js allows you to provide alternative data as a placeholder. This ensures the child website can display meaningful information to users, even during temporary disruptions, maintaining a smooth browsing experience.</span> <br> <br>
                    </li>
                    <li>
                      <span style="color: #FF8945;" class="sm:text-lg">Lightweight and Efficient: </span>
                      <span style="color: white; " class="sm:text-lg" > Daddy.js is designed to be lightweight, delivering optimal performance without compromising functionality. It leverages modern web technologies, minimizing overhead and maximizing efficiency for a smooth user experience.</span> <br> <br>
                    </li>

                    
                  </ul>
                  <a href="#how" id="get-s" class=" prevent-select-text inline-block rounded-lg m-2 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base"> <span style="color: #6c66bb;">....</span> Doc <span style="color: #6c66bb;">....</span></a>
                  
                  
                </p>
        
                <h2  style="color: #FF8945;" class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left">Product By</h2>
        
                <p  class="mb-6 text-white  sm:text-lg md:mb-8"> <span ><a style="text-decoration: none; color: #ff5555;" href="https://thealphaones.netlify.app", target="_blank">TheAlphaOnes</a></span> is a group of students with a passion for technology. They are constantly exploring the latest innovations and pushing the boundaries of what's possible. They welcome self-learners to join them, as they believe that shared knowledge and expertise can unlock incredible potential. Their goal is to bring together like-minded individuals worldwide to pool their skills and resources to develop impactful, innovative solutions. They are driven to make a lasting impact in the world through technology.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section id="how">
        <div class=" py-6 sm:py-8 lg:py-12">
          <div class="mx-auto max-w-screen-md px-4 md:px-8">
            <h1 style="color: #FF8945;" class="mb-4 text-center text-2xl font-bold text-white sm:text-3xl md:mb-6">Documentation</h1>

            
            <h1 class="mb-4 text-center text-2xl font-bold text-white sm:text-3xl md:mb-6 md:text-left">How to use  <span style="color: #FF8945;"> Daddy.js</span></h1>
            
            <div class="relative mb-6 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:mb-8">
              <img src="https://images.unsplash.com/photo-1617042375876-a13e36732a04?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=350&ixid=MnwxfDB8MXxyYW5kb218MHx8Y29kaW5nfHx8fHx8MTY4OTE1NTg4Mw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=600" loading="lazy" alt="Photo by Minh Pham" class="h-full w-full object-cover object-center" />
            </div>
            <ul>
              <li>
                <p class="mb-6 text-white sm:text-lg md:mb-8"> &#x2022; <span class="font-bold" style="color: #FF8945;">Step 1 :</span>  link cdn and import daddy </p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" >
                  https://daddyjs.vercel.app/cdn/daddy.js <br>
                  
                </p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" >
                  
                  import { daddy } from "http://daddyjs.vercel.app/cdn/daddy.js"; <br>
                </p>
              </li>
              <li>
                <p class="mb-6 text-white sm:text-lg md:mb-8">&#x2022; <span class="font-bold" style="color: #FF8945;"> Step 2 :</span> define id from parent and child webpage</p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" >
                  
                  let data = {"parent-website-tag-id":"child-website-tag-id","parent-website-tag-id":"child-website-tag-id"}  <br>
                  
                  </p>
              </li>
              <li>
                <p class="mb-6 text-white sm:text-lg md:mb-8"> &#x2022; <span class="font-bold" style="color: #FF8945;"> Step 3 :</span></p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" >
                  let alernate_data = [["child-website-tag-id","alternate-data"],["child-website-tag-id","alternate-data"]] <br>
                  
                </p>
              </li>
              <li>
                <p class="mb-6 text-white sm:text-lg md:mb-8"> &#x2022; <span class="font-bold" style="color: #FF8945;"> Step 4 :</span></p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" >
                  daddy("https://daddyjstest.test",  data,alernate_data) <br>
                </p>
              </li>
              <li>
                <p class="mb-6 text-white sm:text-lg md:mb-8"> &#x2022; <span class="font-bold" style="color: #FF8945;"> Full code :</span></p>
                <p class="mb-6 text-white code sm:text-lg md:mb-8" ><br>
                  import { daddy } from "http://daddyjs.vercel.app/cdn/daddy.js"; <br> <br>

                  let data = "parent-website-tag-id":"child-website-tag-id","parent-website-tag-id":"child-website-tag-id"<br> <br>
                  let alernate_data = [["child-website-tag-id","alternate-data"],["child-website-tag-id","alternate-data"]] <br> <br>
                  daddy("https://daddyjstest.test",data,alernate_data)<br><br>
                </p>
              </li>
            </ul>
            
        
            <h2 style="color: #FF8945;"  class="mb-2 text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4">Team</h2>
        
            <p class="mb-6 text-white sm:text-lg md:mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque natus ratione accusamus laudantium officiis expedita. Iusto placeat error ipsum eligendi cum vero minus aperiam dolorum deleniti nam? Velit, architecto.</p>
            
          </div>
        </div>
      </section>

      <footer class="text-gray-600 body-font">

        <div style="height: 40px;background-color: transparent;">

        </div>
      </footer>

      <div id="par-banner" style="background-color: #111; position: fixed; bottom: 0%;width: 100vw;" class=" ">
        <!-- banner - start -->
        <div class="relative flex flex-wrap  px-4 py-3 sm:flex-nowrap sm:items-center sm:justify-center sm:gap-3 sm:pr-8 md:px-8">
          
          <div id="banner" class="order-1 mb-2 inline-block w-11/12 max-w-screen-sm text-sm text-white content-center sm:order-none sm:mb-0 sm:w-auto md:text-base">From <a href="https://thealphaones.netlify.app" style="text-decoration: none;color: #ff5555;" target="_blank">@TheAlphaOnes</a> Production - since © 2021</div>
        
          
      

        </div>
       
      </div>

      <script src="static/typer.js"></script>

</body>
</html>