<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/tailwind.min.css">
    <link rel="shortcut icon" href="static/logo.png" type="image/x-icon">
    <title>// Daddy.js //</title>
</head>
<body>
    <section id="head">
    <header>
        <div class=" py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
              <div class="flex flex-col items-center gap-4 md:gap-6">
                <a href="#" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                  <img src="static/logo.svg" alt="">
                </a>
          
                
            </div>
          </div>
    </header>
    <div class=" py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div class="mx-auto flex max-w-xl flex-col items-center text-center">
            
            <h2 class="mb-4 font-semibold  text-white md:mb-6 md:text-lg xl:text-xl">Hi, everyone !!</h2>
            <h1 class="text-black-800 mb-8 text-3xl font-bold sm:text-4xl md:mb-12 md:text-5xl">Welcome to Daddy.J !!</h1>
      
            <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
              <a href="#" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Start now</a>
      
              
            </div>
          </div>
        </div>
      </div>
      </section>

      <hr>

      <section>
        <div class=" py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
              <div class="mb-6 flex items-end justify-between gap-4">
                <h2 class="text-2xl font-bold text-gray-800 lg:text-3xl">Collections</h2>
          
                <a href="#" class="inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base">Show more</a>
              </div>
          
              <div class="grid gap-x-4 gap-y-6 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">
                <!-- product - start -->
                <div>
                  <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                    <img src="https://images.unsplash.com/photo-1552374196-1ab2a1c593e8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  </a>
          
                  <div class="flex flex-col">
                    <span class="text-gray-500">Men</span>
                    <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Business Causual</a>
                  </div>
                </div>
                <!-- product - end -->
          
                <!-- product - start -->
                <div>
                  <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                    <img src="https://images.unsplash.com/photo-1603344797033-f0f4f587ab60?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by engin akyurt" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  </a>
          
                  <div class="flex flex-col">
                    <span class="text-gray-500">Women</span>
                    <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Summer Season</a>
                  </div>
                </div>
                <!-- product - end -->
          
                <!-- product - start -->
                <div>
                  <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                    <img src="https://images.unsplash.com/photo-1552668693-d0738e00eca8?auto=format&q=75&fit=crop&crop=top&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  </a>
          
                  <div class="flex flex-col">
                    <span class="text-gray-500">Men</span>
                    <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Streetwear</a>
                  </div>
                </div>
                <!-- product - end -->
          
                <!-- product - start -->
                <div>
                  <a href="#" class="group mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3">
                    <img src="https://images.unsplash.com/photo-1560269999-cef6ebd23ad3?auto=format&q=75&fit=crop&w=600&h=700" loading="lazy" alt="Photo by Austin Wade" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  </a>
          
                  <div class="flex flex-col">
                    <span class="text-gray-500">Women</span>
                    <a href="#" class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl">Sale</a>
                  </div>
                </div>
                <!-- product - end -->
              </div>
            </div>
          </div>
      </section>

      <div style="background-color: #111; position: fixed; bottom: 0%;width: 100vw;" class=" ">
        <!-- banner - start -->
        <div class="relative flex flex-wrap  px-4 py-3 sm:flex-nowrap sm:items-center sm:justify-center sm:gap-3 sm:pr-8 md:px-8">
          <div class="order-1 mb-2 inline-block w-11/12 max-w-screen-sm text-sm text-white sm:order-none sm:mb-0 sm:w-auto md:text-base">From <a href="https://thealphaones.netlify.app" style="text-decoration: none;color: #ff5555;" target="_blank">@TheAlphaOnes</a> Production - since © 2021</div>
      
          
      

        </div>
       
      </div>
</body>
</html>